
<div class="comment-section p-5">
    <div class="content">
    <h1>Reviews({{reviews.length}})</h1><br/><br/>
    <div class="d-flex justify-content-between">
        <h5 >Share your review</h5>
        <div class="user-stars ">
            <i class="fa fa-star-o me-2" aria-hidden="true"></i>
            <i class="fa fa-star-o me-2" aria-hidden="true"></i>
            <i class="fa fa-star-o me-2" aria-hidden="true"></i>
            <i class="fa fa-star-o me-2" aria-hidden="true"></i>
            <i class="fa fa-star-o me-2" aria-hidden="true"></i>
        </div>
    </div><br/>
    <form #reviewForm = "ngForm" (ngSubmit)="onSubmit(reviewForm)">
    <div class="mb-3">
            <input class="form-control" id="email" #email="ngModel" type="email" placeholder="Enter email" name="email" email maxlength="30" required ngModel>
            <div *ngIf="email.touched && email.invalid" style="color:red;">
                <div *ngIf="email?.errors?.['required']" style="color:red;">
                Email is required</div>
             </div>
    </div>
    <div class="mb-3">
        <input class="form-control" id="rating" #rating="ngModel" type="text" pattern="^[0-9]+(.[0-9]{0,1})?$"
        placeholder="Enter rating" name="rating" max="5" min="1" required ngModel>
        <div *ngIf="rating.touched && rating.invalid" style="color:red;">
            <div *ngIf="rating?.errors?.['required']" style="color:red;">
            Rating is required</div>
            <div *ngIf="rating?.errors?.['pattern']" style="color:red;">
                Rating should be rounded to one decimal place</div>
         </div>
   </div>
    <div class="mb-3">
        <textarea class="form-control"  id="review" #review="ngModel" placeholder="Write a review" rows="3" name="review" required ngModel></textarea>
        <div *ngIf="review.touched && review.invalid" style="color:red;">
            <div *ngIf="review?.errors?.['required']" style="color:red;">
            Please enter some text </div>
         </div>
    </div>
    <button class="btn btn-outline-secondary" type="submit">Comment</button>
    <br><br><p>{{status}}</p>
    </form><br>
    <!--comments-->
    <div class="comment-box" *ngFor="let review of reviews">
        <div class="comment-header">
        <div class="comment-img">
            <img src="./assets/avatar-icon.png">
        </div>
        <div >{{review.email}}</div>
       </div>
        <div class="comment-text ">
            <div class="star-cont">
                <i class="fa fa-star me-2"  *ngFor="let item of [1,2,3,4,5]" [class.selected]="item<=review.rating" aria-hidden="true" ></i>
                Rating : {{review.rating}}
            </div>
            <small>{{review.review}}</small><br>
            <small>Commented on {{review.created_at | date}}</small>
        </div>
    </div>
   
    <!-- <div class="comment-box">
        <div class="comment-header">
        <div class="comment-img">
            <img src="./assets/avatar-icon.png">
        </div>
        <div >Prakash</div>
       </div>
        <div class="comment-text ">
            <div  class="star-cont">
                <i class="fa fa-star me-2" aria-hidden="true"></i>
                <i class="fa fa-star me-2" aria-hidden="true"></i>
                <i class="fa fa-star me-2" aria-hidden="true"></i>
                <i class="fa fa-star me-2" aria-hidden="true"></i>
                <i class="fa fa-star-o me-2" aria-hidden="true"></i>
                <i class="fa fa-star-o me-2" aria-hidden="true"></i>
            </div>
            <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.  Lorem Ipsum has been the industry's standard dummy text.</small>
        </div>
    </div>

    <div class="comment-box">
        <div class="comment-header">
        <div class="comment-img">
            <img src="./assets/avatar-icon.png">
        </div>
        <div  >Prakash</div>
       </div>
        <div class="comment-text ">
            <div class="star-cont">
                <i class="fa fa-star me-2" aria-hidden="true"></i>
                <i class="fa fa-star me-2" aria-hidden="true"></i>
                <i class="fa fa-star me-2" aria-hidden="true"></i>
                <i class="fa fa-star me-2" aria-hidden="true"></i>
                <i class="fa fa-star-o me-2" aria-hidden="true"></i>
            </div>
            <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.  Lorem Ipsum has been the industry's standard dummy text.</small>
        </div>
    </div> -->
    <!-- <button class="loader btn btn-outline-muted w-100 mt-5">Load More Comments <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></button> -->
</div>
</div>

