<footer class="mt-5 p-3">
    <div class="row mb-3">
        <div class="col mb-3">
        
        <h3>About Us</h3>
        <br><br>
        <p>Explora is a one stop destination for all show watchers.
        We bring in exclusive content with an amazing streaming 
        experience.</p>
        <div >
        <i class="fa fa-facebook me-3" aria-hidden="true"></i>
        <i class="fa fa-youtube-play me-3" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
       </div> 
        </div>
        <div class="col mb-3">
            <h3>Popular Genres</h3>
            <br><br>
            <ul>
                <li><a href="#">Romance</a></li>
                <li><a href="#">Action Films</a></li>
                <li><a href="#">Thriller</a></li>
                <li><a href="#">Murder Mystery</a></li>
            </ul>
        </div>
        <div class="col mb-3">
            <h3>Get To Know Us</h3>
            <br><br>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="col mb-3">
            <h3>Important Links</h3>
            <br><br>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Disclosure</a></li>
                <li><a href="#">Terms & Conditions</a></li>
            </ul>
        </div>
    </div>
    <p class="text-center"> Copyrights 2023 Explora&copy; </p>
</footer>
