<div id="carouselExampleCaptions" class="carousel slide mb-5" data-bs-ride="carousel">
    <!-- <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div> -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/slide2.jpeg" class="d-block w-100" style="height:47.667vw" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="font-weight-bold">An Adventure Like No Other</h2>
          <a class="btn btn-info">Watch now</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/slide1.jpeg" class="d-block w-100" style="height:47.667vw" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="font-weight-bold">Harry Potter</h2>
          <a class="btn btn-info">Watch Now</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/slide2.webp" class="d-block w-100" style="height:47.667vw" alt="...">
        <div class="carousel-caption d-none d-md-block">
        <h2 class="font-weight-bold">Kids vs Alien</h2>
          <a class="btn btn-info">Watch Now</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
