<div class="list-movies p-3">
    <div class="row" >
        <div class="col">
               <div class="cont"  >
                <img src="./assets/wakanda.jpeg"  alt="...">
                <a class="btn btn-success" routerLink="/movie-details/1">Learn More</a>
               </div>
        </div>
        
        <div class="col">
            <div class="cont" >
            <img src="./assets/avatar.jpeg"   alt="...">
            <a class="btn btn-success" routerLink="/movie-details/2">Learn More</a>
            </div>
        </div>
        <div class="col">
            <div class="cont" >
            <img src="./assets/puss-in-boots.jpeg"   alt="...">
            <a class="btn btn-success" routerLink="/movie-details/3">Learn More</a>
           </div>
        </div>
        <div class="col">
            <div class="cont">
            <img src="./assets/wakanda.jpeg"  alt="...">
            <a class="btn btn-success" routerLink="/movie-details/4">Learn More</a>
            </div>
        </div>
        <div class="col">
            <div class="cont" >
            <img src="./assets/avatar.jpeg"   alt="...">
            <a class="btn btn-success" routerLink="/movie-details/5">Learn More</a>
           </div>
        </div>
        
        
        <div class="col">
            <div class="cont" >
            <img src="./assets/puss-in-boots.jpeg"   alt="...">
            <a class="btn btn-success" routerLink="/movie-details/6">Learn More</a>
            </div>
        </div>
        <div class="col">
            <div class="cont" >
            <img src="./assets/wakanda.jpeg"   alt="...">
            <a class="btn btn-success" routerLink="/movie-details/7">Learn More</a>
           </div>
        </div>
        <div class="col">
            <div class="cont" >
            <img src="./assets/avatar.jpeg"  alt="...">
            <a class="btn btn-success" routerLink="/movie-details/8">Learn More</a>
            </div>
        </div>
        <div class="col">
            <div class="cont" >
            <img src="./assets/pathaan.jpeg"  alt="...">
            <a class="btn btn-success" routerLink="/movie-details/9">Learn More</a>
            </div>
        </div>
        <div class="col">
            <div class="cont" >
            <img src="./assets/wakanda.jpeg"   alt="...">
            <a class="btn btn-success" routerLink="/movie-details/10">Learn More</a>
           </div>
        </div>
    </div>
    </div>
