<div class="latest-movies mt-5 p-3">
    <h3 class="text-center text-white mb-5">Latest Movies</h3>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col">
               <div class="cont"  >
                <img src="./assets/wakanda.jpeg"  alt="...">
                <a class="btn btn-success">Learn More</a>
               </div>
        </div>
        
        <div class="col">
            <div class="cont" >
            <img src="./assets/avatar.jpeg"   alt="...">
            <a class="btn btn-success">Learn More</a>
            </div>
        </div>
        <div class="col">
            <div class="cont" >
            <img src="./assets/puss-in-boots.jpeg"   alt="...">
            <a class="btn btn-success">Learn More</a>
           </div>
        </div>
        <div class="col">
            <div class="cont">
            <img src="./assets/wakanda.jpeg"  alt="...">
            <a class="btn btn-success">Learn More</a>
            </div>
        </div>
        <div class="col">
            <div class="cont" >
            <img src="./assets/avatar.jpeg"   alt="...">
            <a class="btn btn-success">Learn More</a>
           </div>
        </div>
        
        
        <div class="col">
            <div class="cont" >
            <img src="./assets/puss-in-boots.jpeg"   alt="...">
            <a class="btn btn-success">Learn More</a>
            </div>
        </div>
        <div class="col">
            <div class="cont" >
            <img src="./assets/wakanda.jpeg"   alt="...">
            <a class="btn btn-success">Learn More</a>
           </div>
        </div>
        <div class="col">
            <div class="cont" >
            <img src="./assets/avatar.jpeg"  alt="...">
            <a class="btn btn-success">Learn More</a>
            </div>
        </div>
        <div class="col">
            <div class="cont" >
            <img src="./assets/pathaan.jpeg"  alt="...">
            <a class="btn btn-success">Learn More</a>
            </div>
        </div>
        <div class="col">
            <div class="cont" >
            <img src="./assets/wakanda.jpeg"   alt="...">
            <a class="btn btn-success">Learn More</a>
           </div>
        </div>
    </div>
    </div>