<div class="main-container">
    <div class="container-child">
        <div class="img-container">
            <img src="{{details.image_url}}">
        </div>
    </div>
    <div class="container-child">
        <div class="content-container">
        <h1>{{details.name}}</h1>
        <p>{{details.description}}</p>
        <p>Cast: {{details.cast}}</p>
        <p>Genre: {{details.genre}}</p>
        <p>Release Date: {{details.release_date}}</p>
        <p>Runtime: {{details.runtime}}</p>

        <div class="rating">
        <div class="grey-cont">
            <i class="fa fa-star fa-2x" aria-hidden="true"></i>
             <i class="fa fa-star fa-2x" aria-hidden="true"></i> 
             <i class="fa fa-star fa-2x" aria-hidden="true"></i> 
             <i class="fa fa-star fa-2x" aria-hidden="true"></i> 
            <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        </div>
        <div class="star-cont"  style="width:{{averageRating}}%">
            <i class="fa fa-star fa-2x" aria-hidden="true"></i>
             <i class="fa fa-star fa-2x" aria-hidden="true"></i> 
             <i class="fa fa-star fa-2x" aria-hidden="true"></i> 
             <i class="fa fa-star fa-2x" aria-hidden="true"></i> 
            <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        </div>
    </div><br><br>
        <div class="button-cont"><button class="btn btn-outline-info"><i class="fa fa-play-circle" aria-hidden="true"></i> Watch</button>
        <button class="btn btn-outline-secondary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add to Watchlist</button> 
        </div>
       </div> 
    </div>
    </div>
